html{
    font-family: 'Saira', sans-serif;
}

a{
    font-family: 'Saira', sans-serif;
}

.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle{
    background-color: #FD275F;
    border-color: #FD275F;    
}
    .btn-primary:hover{
        background-color: #E35A78;
        border-color:#E35A78;
    }

    .btn-primary:focus,
    .btn-primary.focus{
       box-shadow: 0 0 0 0.2rem rgba(253, 39, 95,0.5);
    }


.custom-toggler{
    position: relative;
}
.custom-toggler.navbar-toggler:focus,
.custom-toggler.navbar-toggler:active {
    outline: 0;
}

.custom-toggler.navbar-toggler span {
   display: block;
   background-color: #fff;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
   cursor: pointer;
}

.custom-toggler.navbar-toggler span:nth-child(1),
.custom-toggler.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.custom-toggler.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.custom-toggler.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.custom-toggler.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}


.header{
    background-image: url("../img/bg_header.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    font-family: 'Kanit', sans-serif;
}

    @media screen and (min-width:768px){
        .header{
            height: 100vh;
        }
    }

    .header__btn{
        display: inline-block;
        width: 100%;
        text-align: center;
    }

        @media screen and (min-width:768px){
           .header__btn{
               text-align: left;
           } 
        }

    .header__bottom{
        color:#fff;
        
    }

        @media screen and (min-width:768px){
            .header__bottom{
                color:#fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: calc(100% - 176px);
            }
        }

    .header__meta li{
        display: none;
    }

        @media screen and (min-width:768px){
            .header__meta li{
                margin-left:1rem;
                margin-right:1rem;
                display: block;
            }
                .header__meta li:first-child{
                    margin-left:0;
                }
        }
    
    .header__information{
        max-width: 728px;
        letter-spacing: 2px;
    }
        .header__information h2{
            font-size: 2rem;
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;
        }
            @media screen and (min-width:768px){
                .header__information h2{
                    font-size: 3.75rem;
                    text-align: left;
                }
            }
        .header__information strong{
            color: #53C7F0;
            font-weight: 700;
        }

        .header__information p{
            font-weight: 300;
            font-size: 1rem;
        }
            @media screen and (min-width:768px){
                .header__information p{
                    font-size: 1.3rem;
                }
            }
    
    

    .navbar-absolute{
        position: absolute;
        top: 90px;
        background-color: rgba(9, 16, 44 ,1);
        left: 0;
        right: 0;
        padding-top:20px;
        padding-bottom:20px;
    }

.navbar-expand-lg .navbar-nav .nav-link{
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.15rem;
    border-bottom: 1px dashed #FD275F;
    padding-top:0.6rem;
    padding-bottom:0.6rem;
    
}

    @media screen and (min-width:768px){
        .navbar-expand-lg .navbar-nav .nav-link{
            padding-left:20px;
            padding-right:20px;
            border-bottom: 0;
        }

        .navbar-expand-lg .navbar-nav .nav-link:hover{
            color:#FD275F;
        }
    }

.navbar-brand{
    max-width: 144px;
}
    @media screen and (min-width:1200px){
        .navbar-brand{
            max-width: 272px;
        }
    }
